{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      myWildAtlanticWay : Store your trips on the Wild Atlantic Way and plan new adventures </p>
    <div class="box">
      <img class="aligncenter wp-image-11837 size-full" src="http://www.myholidayireland.com/wp-content/uploads/waw-image-with-logo-2-600x244.jpg 300w" sizes="(max-width: 1000px) 150vw, 1000px">
    </div>
  </div>
</section>
