<form class="box" action="/list/{{list._id}}/addlocation" method="POST">
  <label>Enter location Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="number" step="0.01" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="number" step="0.01" placeholder="Enter Longitude" name="longitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter date visited" name="date">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter details of visit" name="details">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add location</button>
</form>
